services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: ./backend
    environment:
      - PORT=8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - ALLOWED_ORIGIN=http://localhost:4200
    depends_on:
      - mongo
    ports:
      - "8080:8080"

volumes:
  mongo-data:
